.title {
    background-color: blue;   
    color: aqua;
    text-align: center;
    font-size: 100px;
}

.spaghetti {
    text-align: center;
    color: red;
}

.butter-chicken {
    text-align: center;
    color: red;
}